* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    display: grid;
    grid-template-columns: 1fr 4fr;
    background-color: rgb(0, 106, 109);
    height: 60px;
}

nav ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-evenly;
    margin: 15px;
    min-width: 440px;
}

ul li{
    /* background-color: red; */
    padding: 5px;
    border-radius: 4px;
    transition: 1s;
}

ul li a {
    font-family: Poppins;
}

.text {
    font-family: Poppins;
}

.text h3 {
    color: rgb(0, 106, 109);;
}

main h1 {
    font-family: Poppins;
    font-weight: bold;
    color: rgb(0, 106, 109);
}

ul li:hover{
    background-color: white;
}

li a:hover{
    color: rgb(0, 106, 109);
    font-weight: bold;
}

header div img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 60px;
}

.logo {
    height: auto;
}

footer {
    padding: 10px 10px 0px 10px;
    bottom: 0;
    width: 100%;
    height: 112px;
    display: flex;
    flex-direction: column;
    background-color: rgb(0, 106, 109);
    color: white;
    font-family: Poppins;
}

h2 {
    color: rgb(0, 106, 109);
}

.footer__top {
    display: flex;
}

.footer__top-left {
    display: flex;
    width: 70%;
}

.footer__top div {
    display: flex;
    flex-direction: column;
}

.footer__contact-us {
    display: flex;
    flex-direction: column;
    width: 30%;
    align-items: end;
}

.footer__image {
    padding-right: 70px;
    padding-top: 5px;
}

.footer__image div {
    width: 20px;
    height: 20px;
    background-image: url('../img/whatsapp-logo-11.png');
    background-size: 100%;
}

.footer__bottom {
    text-align: center;
}

li a {
    text-decoration: none;
    color: white;
    transition: 0.5s;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 10px;
    row-gap: 10px;
    margin: 10px;
}

.grid div {
    padding-top: 2px;
    padding-left: 2px;
    padding-right: 2px;
    padding-bottom: 100px;
    background-color:rgb(221, 221, 221);
    border-radius: 20px;
}

.grid div img {
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

.grid div p {
    font-family: Poppins;
}

span img {
    width: 20px;
    height: 20px;
}

.nosotros {
    display: flex;
    justify-content:space-evenly;
    margin: 10px;
    align-items: center;
}

.foto {
    margin-right: 20px;
}

.text {
    width: 600px;
    height: 500px;
    background-color:rgb(221, 221, 221);
    border-radius: 20px;
    padding: 5px;
    overflow: hidden;
    overflow: scroll;
}

.foto img{
    display: block;
    width: 500px;
    padding: 3px;
    background-color:rgb(221, 221, 221);
    border-radius: 20px;
}

main {
    font-family: Poppins;
}

div.logo {
    flex-shrink: inherit;
}

.contacto {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 50px;
}

.parrafo {
    width: 500px;
}
